@main("Administrator", "Konto administratora"){





	<div class="row">
    	<div class="col-md-3">
    		kategorie
    		
			<div id="jstree">

	        </div>
	      	
		      	<form action="@routes.Admin.addRootNode" method="POST" >
	    
					<div class="clearfix  " id="name_field">
						<label for="name">Dodaj kategorię</label>
						<div class="input">
						  	<input type="text"  name="name" value="nazwa" autocomplete="off" />
							<span class="help-inline"></span>
							<span class="help-block"></span> 
						</div>
					</div>
	
					<input type="submit"/>
	    
				</form> 
				
				<script>
				  $(function () { 
					 $("#demo1").typeahead({
		    			    onSelect: function(item) {
		    			        console.log(item);
		    			        alert(item.value);
		    			    },
		    			    ajax: {
		    			    	'url' : '@routes.ComponentManager.getComponents()',
		    			        timeout: 500,
		    			        displayField: "elementName",
		    			        triggerLength: 1,
		    			        method: "get",
		    			        loadingClass: "loading-circle",
		    			        preDispatch: function (query) {
		    			           // showLoadingMask(true);
		    			            return {
		    			                search: query
		    			            }
		    			        },
		    			        preProcess: function (data) {
		    			           // showLoadingMask(false);
		    			            if (data.success === false) {
		    			                // Hide the list, there was some error
		    			                return false;
		    			            }
		    			            // We good!
		    			            return data;
		    			        }
		    			    }
		    			});
				  });
				</script>
				
				
				</div>
				
				<div class="col-md-7">
				
    	<div id="dictionary_content">
    	<!-- 
    	    		słownik
			<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>lp.</th><th>nazwa</th><th>stan</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
			</table>		
			

			<form class="form-inline" action="@(routes.Depot.index)/add/" method="POST" role="form">
    
    			<div class="form-group">
			    	<label class="sr-only" for="exampleInputEmail2">Nazwa</label>
			    	<input type="text" class="form-control" id="name" placeholder="Nazwa">
			  	</div>
			  	<div class="form-group">
			    	<label class="sr-only" for="exampleInputEmail2">Tagi</label>
			    	<input type="text" class="form-control" id="tags" placeholder="Tagi">
			  	</div>
			  	<button type="submit" class="btn btn-default">Dodaj</button>   
			</form> -->
		
		</div>
		</div>
    </div>
    
    	  <script>

    	  
    	  $(function () { 
    		  
    		 
				$('#jstree').jstree({
					'core' : {
						'data' : {
							'url' : '@routes.CategoryManager.getNode()',
							'data' : function (node) {
								return { 'id' : node.id };
							}
						},
						'check_callback' : true,
						'themes' : {
							'responsive' : false
						}
					},
					'plugins' : ['state','dnd','contextmenu','wholerow']
					
				})
				.on('rename_node.jstree', function (e, data) {
					
				})
				.on('delete_node.jstree', function (e, data) {
					$.get('@routes.CategoryManager.deleteNode()', { 'id' : data.node.id })
						.fail(function () {
							data.instance.refresh();
						});
					
				})
				.on('create_node.jstree', function (e, data) {
					$.get('@routes.CategoryManager.addNode()', { 'id' : data.node.parent, 'position' : data.position, 'text' : data.node.text })
						.done(function (d) {
							data.instance.set_id(data.node, d.id);
						})
						.fail(function () {
							data.instance.refresh();
						});
					
				})
				.on('rename_node.jstree', function (e, data) {
					
					$.get('@routes.CategoryManager.renameNode()', { 'id' : data.node.id, 'text' : data.text })
						.fail(function () {
							data.instance.refresh();
						});
					
				})
				.on('move_node.jstree', function (e, data) {
					/*
					$.get('?operation=move_node', { 'id' : data.node.id, 'parent' : data.parent, 'position' : data.position })
						.fail(function () {
							data.instance.refresh();
						});
					*/
				})
				.on('copy_node.jstree', function (e, data) {
					/*
					$.get('?operation=copy_node', { 'id' : data.original.id, 'parent' : data.parent, 'position' : data.position })
						.always(function () {
							data.instance.refresh();
						});
					*/
				})
				.on('changed.jstree', function (e, data) {
					
					if(data && data.selected && data.selected.length) {
						$.get('@routes.CategoryManager.getContent()?id=' + data.selected.join(':'), function (d) {
							//$('#dictionary_content').html(d.content).show();
							
							$('#dictionary_content').html(d);
						});
					}
					else {
						//$('#dictionary_content').hide();
						//$('#dictionary_content').html('Select a file from the tree.').show();
					}
					
				});
			});
		</script>
	
}