@(title: String, nav: String = "")(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<!DOCTYPE html>
<html lang="@lang().code()">
  <head>
    <title>@title</title>

    <!-- Le meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Play Authenticate - an authentication module for the Play! Framework 2.0">
    <meta name="author" content="The Play Authenticate Team">

    <!-- Le scripts -->
	<script src="@routes.Assets.at("javascripts/jquery.js")"></script>
	<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/bootstrap-typeahead.js")"></script>


	
	<script src="@routes.Assets.at("javascripts/jstree.min.js")"></script>
	<script src="@routes.Application.jsRoutes" defer="defer"></script>


    <!-- Le styles -->
    <link rel="stylesheet" href="@routes.Assets.at("css/jstree/style.min.css")" />
    <link href="@routes.Assets.at("css/main.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/bootstrap-theme.min.css")" rel="stylesheet">
		
	<style type="text/css">
	button.pill_btn:hover
	{
		color: #000;
		text-decoration: none;
		cursor: pointer;
		opacity: 0.5;
	}
	button.pill_btn
	{
		float: right;
		font-size: 14px;
		font-weight: 700;
		line-height: 1;
		color: #000;
		text-shadow: 0px 1px 0px #FFF;
		opacity: 0.2;
		padding: 0px;
		padding-left: 3px;
		cursor: pointer;
		background: none repeat scroll 0px 0px transparent;
		border: 0px none;
	}
	</style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>
  
  
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Umagazyn</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            
            @subjectNotPresent() {
			    	<li class="@("active".when(nav == "signup"))"><a href="@routes.Application.signup()">@Messages("playauthenticate.navigation.signup")</a></li>
			    }

              @subjectPresentOr() {
	          	@defining(Application.getLocalUser(session())) { user =>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="@routes.Application.profile()">@Messages("playauthenticate.navigation.profile")</a></li>
	            <li><a href="@routes.Account.link()">@Messages("playauthenticate.navigation.link_more")</a></li>
	            <li class="divider"></li>
	            <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()"><i class="icon-off"></i> @Messages("playauthenticate.navigation.logout")</a></li>
              </ul>
            </li>
             }
	          }{
	        
	            <li>
	            	<a href="@routes.Application.login()" >@Messages("playauthenticate.navigation.login")</a>
	            </li>
	            
	          }
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
 

    <div class="container">
	    @if(flash.contains(Application.FLASH_ERROR_KEY)) {
	      <div class="alert alert-error">
	      	@flash().get(Application.FLASH_ERROR_KEY)
	      </div>
	    }
	    @if(flash.contains(Application.FLASH_MESSAGE_KEY)) {
	      <div class="alert alert-success">
	      	@flash().get(Application.FLASH_MESSAGE_KEY)
	      </div>
	    }
		@content

    <hr>

      <footer>
        <p>&copy; 2012-2014 Play! Authenticate. Licensed under Apache License, Version 2.0. View details <a href="https://github.com/joscha/play-authenticate/blob/master/LICENSE">here</a>.</p>
        <p>
        <small>Styles by <a href="http://twitter.github.com/bootstrap/index.html" target="_blank">Twitter Bootstrap</a> &middot; Provider icons by <a href="https://github.com/paulrobertlloyd/socialmediaicons/" target="_blank">Paul Robert Lloyd</a></small></p>
      </footer>
    </div> <!-- /container -->

	<script>
		$(function () { 
			$("[data-toggle='tooltip']").tooltip(); 
		});
	</script>
	
  </body>
</html>
