@(warehouses : List[Warehouse], activeWarehouse : Long, components : List[Component])
@import java.math.BigInteger; var i=0;
@main("test","fff") {

<div class="row">
    	<div class="col-md-3">

    	<a class="btn btn-default btn-xs" href="@routes.Depot.create"><span class="glyphicon glyphicon-plus"></span></a>
    	
    	 <ul class="nav nav-pills  nav-stacked">
   	 
   	 		@warehouse._categoryTree(activeWarehouse);
   	 
			<!--    	
			 
    	    @if(activeWarehouse == 0) {
    	    	<li class="active"> <a href="@(routes.Depot.index)"><i class="icon-home icon-white"></i> Home</a></li>
    	    } else {
    	    	<li> <a href="@(routes.Depot.index)"><i class="icon-home icon-black"></i> Home</a></li>
    	    }
    	    	
    	    </li>
			
			@for(warehouse <- warehouses){
				@if(warehouse.id == activeWarehouse) {
					<li class="active">
				} else {
					<li>
				}
				
				<a href="@(routes.Depot.index)/@warehouse.id">@warehouse.name 
				</a>
				
				</li>
			}	

		    </ul>
		    
			-->
    	</div>
    	<div class="col-md-6">
    	<!--  tab with depot -->
    	<ul class="nav nav-tabs" role="tablist">
  			@if(activeWarehouse == 0) {
    	    	<li class="active"> <a href="@(routes.Depot.index)"><i class="icon-home icon-white"></i> Home</a></li>
    	    } else {
    	    	<li> <a href="@(routes.Depot.index)"><i class="icon-home icon-black"></i> Home</a></li>
    	    }
    	    	
    	    </li>
			
			@for(warehouse <- warehouses){
				@if(warehouse.id == activeWarehouse) {
					<li class="active">
				} else {
					<li>
				}
				
				<a href="@(routes.Depot.index)/@warehouse.id">@warehouse.name 
				</a>
				
				</li>
			}	

		</ul>
    	
    	<div id="components">
    	@_componentsTable(components)
    	</div>
    	
    	<!-- 
    	<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>lp.</th><th>nazwa</th>
				</tr>
			</thead>
			<tbody>
    
			@if(components != null) {
				
				@for(component <- components){
					@{i += 1}
					<tr>
						<td>@i</td> 
						<td> @component.getName() </td>
					</tr>
				}
			
			}
		</tbody>
		</table>		
		-->
			<!-- 
			<form action="@(routes.Depot.index)/add/@activeWarehouse" method="POST" >
    
				<div class="clearfix  " id="name_field">
					<label for="name">Podaj nazwę elementu</label>
					<div class="input">
						<input type="text" id="name" name="name" value="nazwa" />
						<span class="help-inline"></span>
						<span class="help-block"></span> 
					</div>
				</div>

				<input type="submit"/>
    
			</form>
			-->
			@warehouse._addComponentForm(activeWarehouse)
			
    	
    	</div>
    	

</div>

	}